[Unit]
Description=Switch BlueField2 card to SmartNIC/DPU mode
RequiresMountsFor=%t/containers

[Service]
SuccessExitStatus=0 1
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-/etc/default/bluefield
ExecStart=/bin/bash -c '/usr/bin/podman run --pull always --replace --rm --pid host --network host --user 0 --name bf-switch --privileged --volume /dev:/dev --env BF_MODE --entrypoint /usr/local/bin/bf-switch quay.io/kwozyman/toolbox:bluefield && shutdown -r +1'
Type=oneshot

[Install]
WantedBy=multi-user.target default.target
